body {
    background-color: Beige;
    padding-top: 10%;
}

p1{
    font-family: 'Times New Roman', Times, serif;
    font-size :60px;
}

p2{
    font-family: 'Times New Roman', Times, serif;
    font-size :40px;
}



p3{
    
}